body{
    background: rgba(68, 68, 68, 0.98);
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", 'Marlett', 'sans-serif';
}

h1{
    color: orangered;
}

a{
    text-decoration: none;
    text-underline: none;
}

a:hover{
    background-color: white;
    padding: 5px 10px;
    border-radius: 5px;
}